
    
    <h1>This is Home landing page of codial <%=title%></h1>
    <nav>
        <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/users">know more about user</a></li>
            <li><a href="/users/profile">user profile</a></li>
        </ul>
    </nav>
